.Post-body pre {
  position: relative;

  &:hover .NearataCopyCodeToClipboard,
  &:focus-within .NearataCopyCodeToClipboard {
    opacity: 1;
  }
}

.NearataCopyCodeToClipboard {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity .25s ease;
}

@media (hover: none) {
  .NearataCopyCodeToClipboard {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .NearataCopyCodeToClipboard {
    transition: none;
  }
}
